// 引入清除样式
@import './reset.scss';


// 设置滚动条样式
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #cccccc;
}

::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: $base-menu-background;
}